inf/lab3/laba3.exe
vector-list-master.zip
*.exe
snake.cpp
snake.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
*.zip
2s/lab2/build/CMakeCache.txt
2s/lab2/build/CMakeFiles/cmake.check_cache
2s/lab2/build/CMakeFiles/CMakeConfigureLog.yaml
2s/lab2/build/CMakeFiles/3.26.3/CMakeSystem.cmake
2s/lab2/CMakeLists.txt
build
*.txt
